
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h4 {
    font-size: 21px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px; 
}

body{
    margin: 0; 
}

/* navigation*/
nav {

    background-color: rgba(255, 255, 255, 0.9);
    background-color: rgb(228, 200, 163); 
    
}

nav:after {
    content: '';
    display: block;
    clear: both;
}

.logo, .menu {
    
    display: inline-block;  
}

.logo {
    float: left;
    margin: 16px 0 16px 50px;; 

    color: #333;
    text-transform: uppercase;
    font-weight: 900;
}

.menu {
    
    float: right;
    margin: 0;
    margin-top: 16px;
    margin-right: 30px; 
}

.menu ul {

    list-style: none; 
    padding-left: 0px;
    margin: 0;

}

.menu ul li {

    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;

    padding: 20px 15px 20px 15px
}

.menu ul li a:hover {
    background-color: rgb(240, 222, 222);
    color: #333;
    transition: all 0.5s ease;
}

/*header*/

header {
    background-image: url(../img/mee.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: white; 
    padding-top: 100px;
    background-attachment: fixed;
    background-position-y: -50px; 
}

header p {
    margin: 0;
}

.download-container {
    text-align: center;
    margin: 0 auto;
}

.btn-ommig, .btn-kontakt {
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 10px 25px;
    display:  inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    font-weight: 300; 

}

.btn-ommig {
    background-color: black;
    color: white; 
}

.btn-ommig:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease;

}

.btn-kontakt {
    background-color: white;
    color: black;     
}

.btn-kontakt:hover {
    background-color: black;
    color: white;
    transition: all 0.5s ease;
}

/* om migggggg */

main{
    width:  100%;
}

.om-mig {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    background-color: antiquewhite;
}

.om-mig:after {
    content: '';
    display: block;
    clear: both;
}

.om-mig h2 {
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 35px;
    padding-bottom: 20px;
    color: #333;
    text-align: center;
    text-transform: uppercase; 
    position: relative;
}

.om-mig h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px; 
    background-color: #333;
}

.om-mig img {
    max-width: 60%;
    margin: 0 auto;
    display: block;
    margin-top: 22px;
}

.om-mig .col-left, .om-mig .col-right {

    width: 50%;
    float: left;
}

.om-mig .col-left {
    padding-left: 5%;
    padding-right: 5%;
}

.om-mig a {
    background-color: #333;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    border-radius: 20px; 
    font-size: 17px; 
    display: inline-block;
    border: 1px solid #333;
}

.om-mig a:hover {
    background-color: aliceblue;
    color: black; 
}



.om-mig .col-left img {
    max-width: 100%;

}


/* skills */

.skills {
    background-color: rgb(228, 200, 163);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.skills h2  {
    text-transform: uppercase;
    position: relative; 
}

.skills h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: rgb(230, 213, 191)
}   

.skills:after {
    content: '';
    display: block;
    clear: both; 
}

.skills .skills-left, .skills-center, .skills-right {
    width: 33.3333333%;
    display: inline-block;
    float: left;
    padding-left: 2%;
    padding-right: 2%;

}

/* spel */

.spel {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    overflow: hidden;
}

.spel:after {
    content: '';
    display: block;
    clear: both;
}

.spel h2 {
    text-transform: uppercase;
    
    margin-top: 0;
    position: relative;
}

.spel h2:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #333;
}

.spel .spel1,
.spel .spel2,
.spel .spel3 {
    height: 300px;
    width: 30%;
    float: left;
    position: relative;
    overflow: hidden;
}

.spel .spel1 {
    margin-left: 2%;
    margin-right: 1.5%;
    background-image: url(../img/thief.jpg);
    background-size: cover; 
}

.spel  .spel2 {
    margin-left: 1%;
    margin-right: 1%;
    background-image: url(../img/tr.jpg);
    background-size: cover;
}

.spel .spel3 {
    margin-left: 1.5%;
    margin-right: 2%; 
    background-image: url(../img/images.jpg);
    background-size: cover;

}

.spel .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 310px;
}

.spel .overlay:hover {
    background-color: rgba(0,0,0,0.6);
    padding-top: 130px;
    transition: all 0.5s ease;
}

.overlay a {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: bold;

}